!!!
%html{:lang => "en"}
  %head
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
  %body
    .navbar
      .navbar-inner
        .container
          .brand
            ToyBox
    .container
      %table#chat.table
        %tbody
          %tr
            %td
    %script{:src => "http://code.jquery.com/jquery-1.7.2.min.js"}
    %script{:src => "/js/bootstrap.js"}
    %script{:src => "/js/app.js"}